<!DOCTYPE html>
<html>
<head>
  <title>ConektaPayment</title>
  <%= stylesheet_link_tag    "conekta_payment/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js" %>
  <%= javascript_include_tag "conekta_payment/application" %>
  <%= content_for(:javascripts) %>
</body>
</html>
