<div class="pure-g container">
  <div class="pure-u-1">
    <h1><%= t('.shop_title') %></h1>
  </div>

  <%= render 'cart' %>

  <%= form_for @pay, html: { class: 'pure-form pay-form' }, url: pay_path  do |form| %>
    <div class="pure-u-1">
      <h2><%= t('.shop_details') %></h2>
      <%= form.hidden_field :cart_id, value: shopping_cart[:cart_id] %>
      <%= form.hidden_field :total, value: shopping_cart[:subtotal] %>
      <%= form.hidden_field :conekta_token %>
      <%= form.hidden_field :last_four %>
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email',
        placeholder: t('placeholder.email'), maxlength: 40 %>
      <span class="hint"><%= t('hint.email') %></span>
    </div>

    <%= render 'card' %>

    <div class="pure-u-1 action">
      <div class="message-area <%= 'error-area' if @pay.error.present? %>">
        <%= "<p>#{@pay.error['message_to_purchaser']}</p>".html_safe if @pay.error.present? %>
      </div>

      <%= form.submit "Pagar #{number_to_currency(shopping_cart[:subtotal], unit: t('money.unit'))}", class: 'pure-button pure-button-primary', id: 'pay_action', disabled: true %>
    </div>
  <% end %>
</div>

<% content_for :javascripts  do %>
  <script type="text/javascript">
    var init = function() {
      var cardWidget = new CardWidget('.pay-form', {
        validDate: "<%= t('.valid_date') %>",
        monthYear: "<%= t('.month_year') %>"
        }, {
          name: "<%= t('.card_name') %>"
        });

      var preProcessor = new PreProcess('.pay-form', '#pay_action',
        {
          config: {
            message_area_class: 'message-area',
            message_area_error_class: 'error-area',
            field_error_class: 'error',
            message_area: "<%= t('conekta_payment.errors.message') %>",
            token_field: 'pay_conekta_token',
            last_four_field: 'pay_last_four',
            test: <%= Rails.env.test? %>,
          },
          validators: {
            card_number: {
              validator: 'validateNumber',
              klass: Conekta.card
            }
          },
          messages: {
            email: "<%= t('conekta_payment.errors.email') %>",
            card_number: "<%= t('conekta_payment.errors.card_number') %>",
            card_cvc: "<%= t('conekta_payment.errors.card_cvc') %>",
            card_name: "<%= t('conekta_payment.errors.card_name') %>",
            card_expiry: "<%= t('conekta_payment.errors.card_expiry') %>"
          },
          fields: {
            card_number: 'card_number',
            card_cvc: 'card_cvc',
            card_name: 'card_name',
            card_expiry: 'card_expiry',
            email: 'pay_email'
          }
        });
    }

    $(document).ready(init);
    $(document).on('page:load', init);
  </script>
<% end %>
